body {
  font-family: Arial, Verdana, sans-serif;
  color: #2d5986;
  padding: 10px;
}

.page {
  border: 1px solid #2d5986;
  background-color: #b3daff;
  padding: inherit;
}
h1 {
  background-color: #b3ffff;
  color: #2d5986;
  padding: inherit;
}

.pink {
  background-color: #ff80df;
  color: #ffffff;
  padding: inherit;
}

.white {
  background-color: #ffffff;
  color: #a6a6a6;
  padding: inherit;
}

.navy {
  background-color: #2d5986;
  color: #ffff99;
}
